<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员登陆</title>
</head>
<body>
    <h1>管理员登陆</h1>

    <div id="login_form">
        <admin-login-form></admin-login-form>
    </div>

    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/qs.js"></script>
    <script src="/static/js/crypto-js.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="module">
        import FormMixin from '/static/js/mixin/form-mixin.js'

        Vue.component('admin-login-form', {
            data: function() {
                return {
                    apiUrl: '/api/admin/session',
                    jumpUrl: 'admin.html',
                    message: null,
                    fields: {
                        adminEmail: null,
                        adminPassword: null,
                    },
                    errors: {
                        adminEmail: null,
                        adminPassword: null,
                    }
                }
            },
            mixins: [ FormMixin ],
            template: `
                <form v-on:submit.prevent="submit">
                    <p>{{message}}</p>
                    <label>邮箱: <input name="adminEmail" v-model="fields.adminEmail" type="email" maxlength="320" required></label>
                    <span class="error">{{errors.adminEmail}}</span>
                    <br>
                    <label>密码: <input name="adminPassword" v-model="fields.adminPassword" type="password" minlength="8" required></label>
                    <span class="error">{{errors.adminPassword}}</span>
                    <br>
                    <input type="submit" value="登陆">
                    <a href="admin-register.html">[注册]</a>
                </form>
            `,
            methods: {
                submit: function () {
                    let prams = this.$qs.stringify({
                        adminEmail: this.fields.adminEmail,
                        adminPassword: CryptoJS.SHA256(this.fields.adminPassword).toString(),
                    });

                    this.clearMessages();
                    this.$axios.post(this.apiUrl, prams).then(response => {
                        if (response.status === 201) {
                            window.location.href = this.jumpUrl;
                        } else {
                            this.formDefaultHandle(response);
                        }
                    }).catch(this.formErrorHandle)
                },
            }
        })

        let login_form = new Vue({
            el: '#login_form',
        })
    </script>
</body>
</html>
