<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.log.blog.mapper.AdminMapper">
    <resultMap id="adminResultMap" type="com.log.blog.entity.Admin">
        <id property="adminId" column="admin_id" />
        <result property="adminName" column="admin_name" />
        <result property="adminEmail" column="admin_email" />
        <result property="adminPassword" column="admin_password" />
    </resultMap>

    <select id="getAdminById" resultMap="adminResultMap">
        select * from admin where admin_id=#{id}
    </select>

    <select id="getAdminByEmail" resultMap="adminResultMap">
        select * from admin where admin_email=#{email}
    </select>

    <select id="listAdmins" resultMap="adminResultMap">
        select admin_id, admin_name, admin_email, admin_password
        from admin
        <where>
            <if test="admin.adminId != null">
                and admin_id=#{admin.adminId}
            </if>
            <if test="admin.adminName != null">
                and admin_name like concat('%', #{admin.adminName}, '%')
            </if>
            <if test="admin.adminEmail != null">
                and admin_email like concat('%', #{admin.adminEmail}, '%')
            </if>
        </where>
    </select>

    <select id="findAdmins" resultMap="adminResultMap">
        select admin_id, admin_name, admin_email, admin_password
        from admin
        <where>
            <if test="admin.adminId != null">
                or admin_id=#{admin.adminId}
            </if>
            <if test="admin.adminName != null">
                or admin_name like concat('%', #{admin.adminName}, '%')
            </if>
            <if test="admin.adminEmail != null">
                or admin_email like concat('%', #{admin.adminEmail}, '%')
            </if>
        </where>
    </select>

    <insert id="insertAdmin">
        insert into admin(admin_name, admin_email, admin_password)
        values (#{admin.adminName}, #{admin.adminEmail}, #{admin.adminPassword})
    </insert>

    <update id="updateAdmin">
        update admin
        <set>
            <if test="admin.adminName != null">
                admin_name=#{admin.adminName},
            </if>
            <if test="admin.adminEmail != null">
                admin_email=#{admin.adminEmail},
            </if>
            <if test="admin.adminPassword != null">
                admin_password=#{admin.adminPassword},
            </if>
        </set>
        where admin_id=#{admin.adminId}
    </update>

    <delete id="deleteAdmin">
        delete from admin where admin_id=#{adminId}
    </delete>

</mapper>
