<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.log.blog.mapper.ArticleMapper">

    <resultMap id="articleResultMap" type="com.log.blog.vo.ArticleVO">
        <id property="articleId" column="article_id" />
        <result property="authorId" column="author_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="imageName" column="image" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <select id="getArticle" resultMap="articleResultMap">
        select * from article where article_id = #{id};
    </select>

    <select id="listArticles" resultMap="articleResultMap">
        select * from article
        <where>
            <if test="feature.articleId != null">
                and article_id=#{feature.articleId}
            </if>
            <if test="feature.authorId != null">
                and author_id=#{feature.authorId}
            </if>
            <if test="feature.title != null">
                and title like concat('%', #{feature.title}, '%')
            </if>
            <if test="feature.content != null">
                and content like concat('%', #{feature.content}, '%')
            </if>
            <if test="feature.createTime != null">
                and create_time=#{feature.createTime}
            </if>
        </where>
    </select>

    <select id="findArticles" resultMap="articleResultMap">
        select * from article
        <where>
            <if test="feature.articleId != null">
                or article_id=#{feature.articleId}
            </if>
            <if test="feature.authorId != null">
                or author_id=#{feature.authorId}
            </if>
            <if test="feature.title != null">
                or title like concat('%', #{feature.title}, '%')
            </if>
            <if test="feature.content != null">
                or content like concat('%', #{feature.content}, '%')
            </if>
            <if test="feature.createTime != null">
                or create_time=#{feature.createTime}
            </if>
        </where>
    </select>

    <insert id="insetArticle">
        insert into article (article_id, author_id, title, content, image, create_time)
        values (#{article.articleId}, #{article.authorId}, #{article.title}, #{article.content}, #{article.imageName},
                #{article.createTime});
    </insert>

    <update id="updateArticle">
        update article set article_id=article_id
        <if test="article.title != null">
            , title=#{article.title}
        </if>
        <if test="article.content != null">
            , content=#{article.content}
        </if>
        <if test="article.imageName != null">
            , image=#{article.imageName}
        </if>
        where article_id=#{article.articleId};
    </update>

    <delete id="deleteArticle">
        delete from article where article_id=#{articleId};
    </delete>

</mapper>
