<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/mvc
            https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <mvc:annotation-driven validator="globalValidator" />
    <mvc:resources mapping="/static/**" location="static/" />
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/{userId:\d+}/**"/>
            <mvc:mapping path="/edit/**"/>
            <mvc:mapping path="/update/**"/>
            <mvc:mapping path="/logout"/>
            <mvc:exclude-mapping path="/{userId:\d+}"/>
            <bean class="com.log.blog.interceptor.UserRequiredInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/"/>
            <mvc:mapping path="/{userId:\d+}"/>
            <mvc:mapping path="/article/{articleId:[A-Za-z\d]{32}}"/>
            <mvc:mapping path="/s"/>
            <bean class="com.log.blog.interceptor.UserOptionalInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/login"/>
            <mvc:mapping path="/register"/>
            <bean class="com.log.blog.interceptor.UserLoggedInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/admin"/>
            <mvc:mapping path="/admin/**"/>
            <mvc:exclude-mapping path="/admin/error/*"/>
            <mvc:exclude-mapping path="/admin/login"/>
            <mvc:exclude-mapping path="/admin/register"/>
            <bean class="com.log.blog.interceptor.AdminRequiredInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/admin/login"/>
            <mvc:mapping path="/admin/register"/>
            <bean class="com.log.blog.interceptor.AdminLoggedInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!--  Password Encoder  -->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

    <!--  MyBatis Config  -->
    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/blog?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC" />
        <property name="username" value="root" />
        <property name="password" value="root" />
<!--        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
<!--        <property name="url" value="${db.url}" />-->
<!--        <property name="username" value="${db.username}" />-->
<!--        <property name="password" value="${db.password}" />-->
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" depends-on="datasource">
        <property name="dataSource" ref="datasource" />
        <property name="mapperLocations" value="/WEB-INF/mappers/**.xml" />
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" depends-on="sqlSessionFactory">
        <property name="basePackage" value="com.log.blog.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!--  Resolvers  -->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/templates/" />
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760" />
    </bean>

    <!--  Validators  -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:ValidationMessages" />
        <property name="defaultEncoding" value="utf-8" />
        <property name="cacheSeconds" value="120" />
    </bean>
    <bean id="globalValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
        <property name="validationMessageSource" ref="messageSource" />
    </bean>
    <bean id="passwordAgainValidator" class="com.log.blog.validator.PasswordAgainValidator" />
</beans>
